@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    align-items: center;
    min-height: 10vh;
    color: #fff;
}

#logo {
    grid-column: 2/3;
    font-size: 24px;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-self: end;
    cursor: pointer;
    position: relative;
}

section {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.hero {
    width: 100%;
    height: 60%;
    position: relative;
    overflow: hidden;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.1;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headline {
    position: absolute;
    top: 70%;
    left: 10%;
    font-size: 100px;
    transform: translate(-20%, -70%);
    -webkit-transform: translate(-20%, -70%);
    -moz-transform: translate(-20%, -70%);
    -ms-transform: translate(-20%, -70%);
    -o-transform: translate(-20%, -70%);
    color: #fff;
    z-index: 3;
}

.hamburger-menu .bar1 {
    width: 40px;
    height: 2px;
    background: #fff;
    margin-bottom: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}

.hamburger-menu .bar2 {
    width: 30px;
    height: 2px;
    background: #fff;
    margin-bottom: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}

.hamburger-menu .bar3 {
    width: 20px;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #ba7453, #d1a984);
    z-index: -1;
}

@media (max-width: 678px) {

    .headline {
        position: absolute;
        font-size: 40px;
    }

}